*{
    box-sizing: border-box;
}

@media(max-width: 520px){

    body{
        margin: 0;
        padding: 0;
    }

    .menubar{
        width: 100%;
        height: 100px;
    }

    ul li{
        list-style: none;
        display: inline-block;
        float: left;
        line-height: 100px;
    }

    ul li a{
        display: block;
        text-decoration: none;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        color: #1e1e1e;
        padding: 0 10px;
    }

    ul li a:hover{
        font-weight: bold;
        font-size: 15px;
    }

    img{
        width: 250px;
        height: 55px;
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .search-box{
        display: none;
    }

    #agregarForm{
        width: 100%;
        margin-top: 70px;
        text-align: center;
    }

    .data{
        font-weight: bold;
    }

    #datos{
        margin-right:0;
    }

    #califica{
        margin-left: 0;
    }

    .rating{
        padding: 20px;
        display: inline-block;
        transform: rotateY(180deg);
    }

    .stars{
        display: none;
    }

    .starsLabel{
        color: #bbb;
        font-size: 22px;
        cursor: pointer;
        transition: color .3s ease-in-out;
    }

    .starsLabel:hover,
    .starsLabel:hover ~ .starsLabel,
    .stars:checked ~ .starsLabel{
        color: black;
    }

    #input1{
        margin: 10px 0 10px 20px;
    }

    #input2{
        margin: 10px 0 10px 27px;
    }

    #input3{
        margin: 10px 0 10px 41px;
    }

    #agregarBtn{
        display:inline-block;
        padding:0.35em 1.2em;
        border:0.1em solid #000000;
        margin:20px 0 10px 0;
        border-radius:0.12em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:500;
        color:#000000;
        text-align:center;
        transition: all 0.2s;
        width: 160px;
        height: 50px;
        font-size: large;
    }

    #agregarBtn:hover{
        color:#FFFFFF;
        background-color:#000000;
    }

    #commentsBox{
        width: 400px;
        height: 80px;
        padding: 10px;
        font-size: 18px;
        font-weight: 300;
    }

    #commentsBox::placeholder{
        font-size: 18px;
        font-weight: 300;
    }

    .center{
        text-align: center;
    }
}

@media(min-width: 521px) and (max-width: 900px){

    body{
        margin: 0;
        padding: 0;
    }

    .menubar{
        width: 100%;
        height: 100px;
    }

    ul li{
        list-style: none;
        display: inline-block;
        float: left;
        line-height: 100px;
    }

    ul li a{
        display: block;
        text-decoration: none;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        color: #1e1e1e;
        padding: 0 20px;
    }

    ul li a:hover{
        font-weight: bold;
        font-size: 15px;
    }

    img{
        width: 250px;
        height: 55px;
        object-fit: cover;
        float: right;
    }

    .search-box{
        float: right;
        margin-top: 0;
        margin-right: 30px;
    }

    #agregarForm{
        width: 100%;
        margin-top: -15px;
        display: flex;
        justify-content: center;
        align-content: flex-start;
    }

    .data{
        font-weight: bold;
    }

    #datos{
        margin-right:0;
    }

    #califica{
        margin-left: 0;
    }

    #flex{
        display: flex;
    }

    #flex2{
        display: flex;
        justify-content: center;
    }

    .rating{
        padding: 20px;
        display: inline-block;
        transform: rotateY(180deg);
    }

    .stars{
        display: none;
    }

    .starsLabel{
        color: #bbb;
        font-size: 22px;
        cursor: pointer;
        transition: color .3s ease-in-out;
    }

    .starsLabel:hover,
    .starsLabel:hover ~ .starsLabel,
    .stars:checked ~ .starsLabel{
        color: black;
    }

    #input1{
        margin: 10px 0 10px 20px;
    }

    #input2{
        margin: 10px 0 10px 27px;
    }

    #input3{
        margin: 10px 0 10px 41px;
    }

    #agregarBtn{
        display:inline-block;
        padding:0.35em 1.2em;
        border:0.1em solid #000000;
        margin:20px 0 10px 0;
        border-radius:0.12em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:500;
        color:#000000;
        text-align:center;
        transition: all 0.2s;
        width: 160px;
        height: 50px;
        font-size: large;
    }

    #agregarBtn:hover{
        color:#FFFFFF;
        background-color:#000000;
    }

    #commentsBox{
        width: 600px;
        height: 100px;
        padding: 10px;
        font-size: 18px;
        font-weight: 300;
    }

    #commentsBox::placeholder{
        font-size: 18px;
        font-weight: 300;
    }

    .center{
        text-align: center;
    }
}

@media(min-width: 901px){

    body{
        margin: 0;
        padding: 0;
    }

    .menubar{
        width: 100%;
        height: 100px;
    }

    ul li{
        list-style: none;
        display: inline-block;
        float: left;
        line-height: 100px;
    }

    ul li a{
        display: block;
        text-decoration: none;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        color: #1e1e1e;
        padding: 0 20px;
    }

    ul li a:hover{
        font-weight: bold;
        font-size: 15px;
    }

    img{
        width: 500px;
        height: 110px;
        object-fit: cover;
        margin-left: 7%;
    }

    .search-box{
        float: right;
        margin-top: 30px;
        margin-right: 30px;
    }

    #agregarForm{
        width: 100%;
        margin-top: -15px;
        display: flex;
        justify-content: center;
        align-content: flex-start;
    }

    .data{
        font-weight: bold;
    }

    #datos{
        margin-right: 200px;
    }

    #califica{
        margin-left: 200px;
    }

    #flex{
        display: flex;
    }

    #flex2{
        display: flex;
        justify-content: center;
    }

    .rating{
        padding: 20px;
        display: inline-block;
        transform: rotateY(180deg);
    }

    .stars{
        display: none;
    }

    .starsLabel{
        color: #bbb;
        font-size: 22px;
        cursor: pointer;
        transition: color .3s ease-in-out;
    }

    .starsLabel:hover,
    .starsLabel:hover ~ .starsLabel,
    .stars:checked ~ .starsLabel{
        color: black;
    }

    #input1{
        margin: 10px 0 10px 20px;
    }

    #input2{
        margin: 10px 0 10px 27px;
    }

    #input3{
        margin: 10px 0 10px 41px;
    }

    #agregarBtn{
        display:inline-block;
        padding:0.35em 1.2em;
        border:0.1em solid #000000;
        margin:20px 0 10px 0;
        border-radius:0.12em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:500;
        color:#000000;
        text-align:center;
        transition: all 0.2s;
        width: 160px;
        height: 50px;
        font-size: large;
    }

    #agregarBtn:hover{
        color:#FFFFFF;
        background-color:#000000;
    }

    #commentsBox{
        width: 600px;
        height: 100px;
        padding: 10px;
        font-size: 18px;
        font-weight: 300;
    }

    #commentsBox::placeholder{
        font-size: 18px;
        font-weight: 300;
    }

    .center{
        text-align: center;
    }
}