*{
    box-sizing: border-box;
}

@media(max-width: 520px){

    .menubar{
        width: 100%;
        height: 100px;
    }

    .message{
        margin-top: 50px;
        color: #1e1e1e;
        font-size: 30px;
    }

    ul li{
        list-style: none;
        display: inline-block;
        float: left;
        line-height: 100px;
    }

    ul li a{
        display: block;
        text-decoration: none;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        color: #1e1e1e;
        padding: 0 10px;
    }

    ul li a:hover{
        font-weight: bold;
        font-size: 15px;
    }

    .search-box{
        display: none;
    }

    img{
        width: 250px;
        height: 55px;
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    #agregarBoton{
        background-color: #2f3640;
        display: block;
        padding:0.3em 1.2em;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 20px;
        border:0.16em solid rgba(255,255,255,0);
        border-radius:2em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:450;
        color:#FFFFFF;
        text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
        text-align:center;
        transition: all 0.2s;
    }

    #agregarBoton:hover{
        border-color: rgb(194, 189, 189);
    }

    .listaEstudiantes{
        border: 3px solid black;
        margin: 0 auto;
        border-collapse: collapse;
        width: 90%;
    }

    th, td{
        border: 3px solid black;
        padding: 5px 5px;
    }

    th{
        color: #FFFFFF;
        background-color: #2c323b;
        text-align: left;
    }

    #col3{
        width: 20px;
    }

    #namelist{
        cursor: pointer;
    }

    #namelist:hover{
        color: blue;
    }
}

@media(min-width: 521px) and (max-width: 900px){

    .menubar{
        width: 100%;
        height: 100px;
    }

    .message{
        color: #1e1e1e;
        font-size: 30px;
    }

    ul li{
        list-style: none;
        display: inline-block;
        float: left;
        line-height: 100px;
    }

    ul li a{
        display: block;
        text-decoration: none;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        color: #1e1e1e;
        padding: 0 20px;
    }

    ul li a:hover{
        font-weight: bold;
        font-size: 15px;
    }

    .search-box{
        float: right;
        margin-top: 0;
        margin-right: 30px;
    }

    img{
        width: 250px;
        height: 55px;
        object-fit: cover;
        float: right;
    }

    #agregarBoton{
        background-color: #2f3640;
        display:inline-block;
        padding:0.3em 1.2em;
        margin-left: 150px;
        margin-top: 20px;
        margin-bottom: 20px;
        border:0.16em solid rgba(255,255,255,0);
        border-radius:2em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:450;
        color:#FFFFFF;
        text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
        text-align:center;
        transition: all 0.2s;
    }

    #agregarBoton:hover{
        border-color: rgb(194, 189, 189);
    }

    .listaEstudiantes{
        border: 3px solid black;
        margin: 0 auto;
        border-collapse: collapse;
        width: 80%;
    }

    th, td{
        border: 3px solid black;
        padding: 5px 5px;
    }

    th{
        color: #FFFFFF;
        background-color: #2c323b;
        text-align: left;
    }

    #col3{
        width: 20px;
    }

    #namelist{
        cursor: pointer;
    }

    #namelist:hover{
        color: blue;
    }
}

@media(min-width: 901px){

    .menubar{
        width: 100%;
        height: 100px;
    }

    .message{
        color: #1e1e1e;
        font-size: 30px;
    }

    ul li{
        list-style: none;
        display: inline-block;
        float: left;
        line-height: 100px;
    }

    ul li a{
        display: block;
        text-decoration: none;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        color: #1e1e1e;
        padding: 0 20px;
    }

    ul li a:hover{
        font-weight: bold;
        font-size: 15px;
    }

    .search-box{
        float: right;
        margin-top: 30px;
        margin-right: 30px;
    }

    img{
        width: 500px;
        height: 110px;
        object-fit: cover;
        margin-left: 7%;
    }

    #agregarBoton{
        background-color: #2f3640;
        display:inline-block;
        padding:0.3em 1.2em;
        margin-left: 150px;
        margin-top: 20px;
        margin-bottom: 20px;
        border:0.16em solid rgba(255,255,255,0);
        border-radius:2em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:450;
        color:#FFFFFF;
        text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
        text-align:center;
        transition: all 0.2s;
    }

    #agregarBoton:hover{
        border-color: rgb(194, 189, 189);
    }

    .listaEstudiantes{
        border: 3px solid black;
        margin: 0 auto;
        border-collapse: collapse;
        width: 60%;
    }

    th, td{
        border: 3px solid black;
        padding: 5px 5px;
    }

    th{
        color: #FFFFFF;
        background-color: #2c323b;
        text-align: left;
    }

    #col3{
        width: 20px;
    }

    #namelist{
        cursor: pointer;
    }

    #namelist:hover{
        color: blue;
    }
}